/*Main rules*/
/**{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}*/
/*.clearfix::after{
    content: "";
    display: table;
    clear: both;
}*/
/*Main rules*/

/*Main*/
.container{
    background-color: rgb(102, 190, 231);
    /*height: 1000px;*/
    width: 2000px;
    position: relative;
    margin: auto;
}
h1{
    text-transform: uppercase;
    color: white;
    font-size:120px;
    text-align: center;
    position: relative;
    top: 50px;
    font-family: 'Nerko One', cursive;
}
.pattern {
    width: 200px;
    height:400px;
    margin: 50px;
    float:left;
    background-image: url(img/pattern.png);
    background-repeat: repeat;
      
  }
  .carta{
      width: 100%;
      height: 70%;
      border-radius: 1rem;
      cursor: pointer;
      
  }
  

  .pattern:hover .carta{
   
  }
  /*Main*/
  /*Footer*/
  h2{
      text-align: center;
      font-family: 'Nerko One', cursive;
      font-size: 30px;
  }
